[submodule "vivisect"]
	path = vivisect
	url = git@github.com:vivisect/vivisect.git
[submodule "pydbg"]
	path = pydbg
	url = git@github.com:OpenRCE/pydbg.git
[submodule "radamsa"]
	path = radamsa
	url = git@github.com:aoh/radamsa.git
